
@{
    ViewData["Title"] = "Boka";
}
@model CreateBookingVM

<h2 style="font-weight:bold; padding-bottom: 5px ">Boka en bil</h2>
<br />
<div>
    <form class="form-group" asp-controller="Bookings" asp-action="Book">
        <div class="row" style="position:center">
            <div class="col-3"></div>
            <div class="form-group col-3">
                <label asp-for="SSN"></label>
                <input type="text" asp-for="SSN" class="form-control" autocomplete="off" />
                <span asp-validation-for="SSN"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="StartOfRental"></label>
                <input asp-for="StartOfRental" type="text" class="form-control" id="datepicker" autocomplete="off" />
            </div>
            <div class="col-3"></div>
        </div>
        <div style="padding: 5px">
            <input type="submit" value="Boka bil" class="btn btn-secondary" />
        </div>

        <br />
        <div class="row" style="position:center; padding: 5px">
            <div class="col-3"></div>
            <div class="custom-control custom-checkbox col-2">
                <input type="checkbox" name="CarType" class="custom-control-input" id="CheckLitenBil" checked="">
                <label class="custom-control-label" for="CheckLitenBil">Liten bil</label>
            </div>
            <div class="custom-control custom-checkbox col-2">
                <input type="checkbox" name="CarType" class="custom-control-input" id="CheckVan" checked="">
                <label class="custom-control-label" for="CheckVan">Van</label>
            </div>
            <div class="custom-control custom-checkbox col-2">
                <input type="checkbox" name="CarType" class="custom-control-input" id="CheckMinibuss" checked="">
                <label class="custom-control-label" for="CheckMinibuss">Minibuss</label>
            </div>
            <div class="col-3"></div>
        </div>
        <div id="resultsLitenBil">
            <div>
                @foreach (var avCar in Model.AvailableCars.Where(c => c.CarType == "Liten bil"))
                {
                <div class="card border-primary mb-3" style="padding: 5px" >
                    <p>Biltyp: @avCar.CarType</p>
                    <p>Mätarställning: @avCar.DistanceStart</p>
                    <p>Registreringsnummer: @avCar.CarRegistrationNumber</p>
                    <div class="custom-control custom-radio" style="padding-bottom: 10px">
                        <input asp-for="RegistrationNumber" type="radio" id="@avCar.CarRegistrationNumber" name="RegistrationNumber" class="custom-control-input" value="@avCar.CarRegistrationNumber">
                        <label class="custom-control-label" for="@avCar.CarRegistrationNumber">Välj bil</label>
                    </div>
                </div>
                <br />
                }
                </div>
            </div>
        <div id="resultsVan">
            @foreach (var avCar in Model.AvailableCars.Where(c => c.CarType == "Van"))
            {
                <div class="card border-primary mb-3" style="padding: 5px">
                    <p>Biltyp: @avCar.CarType</p>
                    <p>Mätarställning: @avCar.DistanceStart</p>
                    <p>Registreringsnummer: @avCar.CarRegistrationNumber</p>
                    <div class="custom-control custom-radio" style="padding-bottom: 10px">
                        <input asp-for="RegistrationNumber" type="radio" id="@avCar.CarRegistrationNumber" name="RegistrationNumber" class="custom-control-input" value="@avCar.CarRegistrationNumber">
                        <label class="custom-control-label" for="@avCar.CarRegistrationNumber">Välj bil</label>
                    </div>
                </div>
                <br />
            }
        </div>
        <div id="resultsMinibuss">
            @foreach (var avCar in Model.AvailableCars.Where(c => c.CarType == "Minibuss"))
            {
                <div class="card border-primary mb-3" style="padding: 5px">
                    <p>Biltyp: @avCar.CarType</p>
                    <p>Mätarställning: @avCar.DistanceStart</p>
                    <p>Registreringsnummer: @avCar.CarRegistrationNumber</p>
                    <div class="custom-control custom-radio" style="padding-bottom: 10px">
                        <input asp-for="RegistrationNumber" type="radio" id="@avCar.CarRegistrationNumber" name="RegistrationNumber" class="custom-control-input" value="@avCar.CarRegistrationNumber">
                        <label class="custom-control-label" for="@avCar.CarRegistrationNumber">Välj bil</label>
                    </div>
                </div>
                <br />
            }
        </div>
        <br />
    </form>
</div>

@section Script {
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
            $("#datepicker").datepicker("setDate", "-0d");
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#CheckLitenBil").click(function () {
                if ($(this).is(":checked")) {
                    $("#resultsLitenBil").show();

                } else {
                    $("#resultsLitenBil").hide();
                }
            });

            $("#CheckVan").click(function () {
                if ($(this).is(":checked")) {
                    $("#resultsVan").show();

                } else {
                    $("#resultsVan").hide();
                }
            });

            $("#CheckMinibuss").click(function () {
                if ($(this).is(":checked")) {
                    $("#resultsMinibuss").show();

                } else {
                    $("#resultsMinibuss").hide();
                }
            });
        });</script>

}