
@{
    ViewData["Title"] = "Index";
}

@model BookingIndexVM


<h2 style="font-weight:bold; padding-bottom: 5px ">Lediga bilar</h2>

@foreach (var car in Model.AvailableCars)
{
    <div class="card border-primary mb-2">
        <p>
            Biltyp: @car.CarType
        </p>
        <p>
            Registreringsnummer: @car.CarRegistrationNumber
        </p>
        <p>
            Körd distans: @car.DistanceStart km
        </p>
    </div>
}

<h2 style="font-weight:bold; padding-bottom: 5px ">Bokade bilar</h2>
@foreach (var car in Model.BookedCars)
{
    <div class="card border-secondary">
        <p>
            Bokningsnummer: @car.BookingNumber
        </p>
        <p>
            Biltyp: @car.CarType
        </p>
        <p>
            Registreringsnummer: @car.CarRegistrationNumber
        </p>
        <p>
            Körda distans: @car.DistanceStart
        </p>
    </div>
}